
*{
    background-color: rgba(244, 4, 4, 0.279);
}

.deer
{
background-color:rgb(107, 46, 2);
}

.rhinoceros
{
background-color:grey;
}

.unicorn
{
    background-color:white;
}

.scorpians
{
    background-color:silver;
}

